.elementor-element.elementor-element-a547f22
{
	text-align:center;
}
.elementor-widget:not(:last-child)
{
	margin-bottom: 20px;
}
.elementor-widget-wrap > .elementor-element
{
	width:100%;
}
.elementor-element.elementor-element-a547f22.elementor-widget-heading .elementor-heading-title
{
	color:#000;
}
.elementor-element.elementor-element-a547f22 .elementor-heading-title {
	font-family: "Montserrat",Sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.3em;
	letter-spacing: .4px;
}
.elementor-element.elementor-element-06982e4 {
	padding: 70px 0 70px 0;
}
.elementor-element.elementor-element-06982e4 > .elementor-container {
	max-width: 1050px;
}
.elementor-section {
	position: relative;
}
.elementor-row {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.elementor-column.elementor-col-33, .elementor-column[data-col="33"] {
	width: 33.333%;
}
.elementor-column {
	position: relative;
	min-height: 1px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.elementor-column-wrap {
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.elementor-element.elementor-element-f1dd194.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.elementor-element.elementor-element-f1dd194.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}
.elementor-section .elementor-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.elementor-widget-wrap {
	position: relative;
	width: 100%;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}
.elementor-element {
	text-align: center;
}
.elementor-element.elementor-widget-heading .elementor-heading-title {
	color: #000;
}
.elementor-element .elementor-heading-title {
	font-family: "Montserrat",Sans-serif;
	font-size: 22px;
	font-weight: 500;
}
.elementor-widget-heading .elementor-heading-title {
	padding: 0;
	margin: 0;
	line-height: 1;
}
.elementor-form-fields-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
	width: 48%;
}
.elementr-element .elementor-field-group > label {
	font-family: "Montserrat",Sans-serif;
	font-size: 16px;
}
.elementor-field-group {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.elementor-element .elementor-field-group > label {
	font-family: "Montserrat",Sans-serif;
	font-size: 16px;
}
.elementor-element .elementor-field-group > label, .elementor-element .elementor-field-subgroup label {
	color: #7a7a7a;
}
.elementor-widget-form .elementor-field-group > label {
	font-family: "Roboto",Sans-serif;
	font-weight: 400;
}
/*label {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}*/
.elementor-screen-only, .screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
	position: absolute;
	top: -10000em;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.elementor-field-label {
	cursor: pointer;
}
.elementor-element .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
	background-color: #fff;
}
.elementor-element .elementor-field-group .elementor-field, ..elementor-element .elementor-field-subgroup label {
	font-family: "Montserrat",Sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.elementor-field-group .elementor-field-textual {
	width: 100%;
	max-width: 100%;
	border: 1px solid #818a91;
	background-color: transparent;
	color: #373a3c;
	vertical-align: middle;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.elementor-field-textual {
	line-height: 1.4;
}
.elementor-field-textual.elementor-size-sm {
	font-size: 15px;
	min-height: 40px;
	padding: 5px 14px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.elementor-element .elementor-field-group .elementor-field {
	color: #7a7a7a;
}
.elementor-element .elementor-field-group {
	padding-right: calc(10px/2);
	padding-left: calc(10px/2);
	margin-bottom: 19px;
}
.elementor-element.elementor-element-76dffe2 .elementor-form-fields-wrapper {
	margin-left: calc(-10px/2);
	margin-right: calc(-10px/2);
	margin-bottom: -19px;
}
.elementor-element.elementor-element-76dffe2 > .elementor-widget-container {
	padding: 0 160px 40px 160px;
}
.elementor-widget {
	position: relative;
}
.square_btn.updating-message::before
{
	animation:rotation 2s infinite linear;
	margin:3px 5px 0 -2px;
	font: normal 20px/1 dashicons;
	content: "\f463";
	color: white;
	/*display: inline-block;*/
	vertical-align: top;
}
.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
	width: 100%;
}
#form-field-message {
	overflow: auto;
	resize: vertical;
}
.elementor-field-subgroup {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.elementor-field-subgroup:not(.elementor-subgroup-inline) .elementor-field-option {
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}
.elementor-button button{
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}
.elementor-button-align-center .elementor-field-type-submit {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.elementor-field-group.elementor-field-type-submit {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.elementor-form .elementor-button.elementor-size-sm {
	min-height: 40px;
}
.elementor-button [type="button"]:not(:disabled), .elementor-button [type="submit"]:not(:disabled), .elementor-button button:not(:disabled) {
	cursor: pointer;
}
.elementor-button {
	display: inline-block;
	line-height: 1;
	background-color: #818a91;
	color: #fff;
	fill: #fff;
	text-align: center;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.elementor-button [type="button"], .elementor-button [type="submit"], .elementor-button button {
	display: inline-block;
	font-weight: 400;
	color: #c36;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid #c36;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: 3px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.elementor-button [type="button"], .elementor-button [type="reset"], .elementor-button [type="submit"], button {
	width: auto;
	-webkit-appearance: button; 
}
.elementor-element.elementor-element-76dffe2 .elementor-button {
	background-color: #ff4b35;
	color: #fff;
	font-family: "Montserrat",Sans-serif;
	font-size: 16px;
	font-weight: 500;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ff4b35;
	border-radius: 50px 50px 50px 50px;
	padding: 15px 17px 15px 17px;
}
.elementor-field-option a {
	background-color: transparent;
	text-decoration: none;
	color: #FF4B35;
}
.elementor-element .elementor-field-group .elementor-field, .elementor-element .elementor-field-subgroup label {
	font-family: "Montserrat",Sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.elementor-element .elementor-field-group > label, .elementor-element .elementor-field-subgroup label {
	color: #7a7a7a;
}
.elementor a {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}

.square_btn{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #ff7052 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #ff7052 0%, #ff8b5f 100%);
	cursor: pointer;
}

.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #ff7052 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #ff7052 0%, #f76a35 100%);
}

.inp-grfe-np {
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}
.inp-grfe-np[required]:focus {
  border-color: #00bafa;
}
.inp-grfe-np[required]:focus + .lbl-grfe-np[placeholder]:before {
  color: #00bafa;
}
.inp-grfe-np[required]:focus + .lbl-grfe-np[placeholder]:before,
.inp-grfe-np[required]:valid + .lbl-grfe-np[placeholder]:before {
  transition-duration: 0.2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1.5em) scale(0.9, 0.9);
}
.inp-grfe-np[required]:invalid + .lbl-grfe-np[placeholder][alt]:before {
  content: attr(alt);
}
.inp-grfe-np[required] + .lbl-grfe-np[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
.inp-grfe-np[required] + .lbl-grfe-np[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.cpo-input-text{width:30%;}
.cpo-input-select{width:30%;}
.cpo-outer-wrap {
	/*margin-right: 300px;*/
	padding: 0;
}
.cpo-inner-wrap {
	position: relative;
	width: 100%;
	min-width: 463px;
	float: left;
}

@media only screen and (max-width: 850px) {
	.cpo-outer-wrap {
		margin-right: 0;
	}
	.cpo-inner-wrap {
		position: relative;
		width: 100%;
		min-width: 0;
		float: none;
	}
}
